<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
    <title>Budgtr</title>
</head>
<body>
    <div class="container">
            <h1>Budgtr ALL</h1>  
    </div>
    <table>
            <% for(let i =0; i < budget.length; i++){ %>
        <tr>
            <td><%= budget[i].date %></td>
            <td><a href="/budget/<%=i%>">
                <%= budget[i].name %>
            </a>
            </td>
            <td><%= budget[i].amount %></td>
            <% } %>
        </tr>
    </table>
    
    
</body>
</html>