<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/logs" method="POST">
    TITLE: <input type="text" name="title" /><br />
    <textarea name="entry"></textarea>
    Ship is broken: <input type="checkbox" name="shipIsBroken" /><br /> 
    <input type="submit" name=""> 
    </form>
</body>
</html>